/*Comment*/

html, body {
    /*background-color: thistle;*/
    background-color: #3F2860;
    color: #2D402D;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-image: url(assets/lilyheader.jpg);
    text-align: left;
    background-size: 100% 100%; /*strech the image to 100% of the parent*/
    height: 150px;
}

header a:link{text-decoration: none;display: block;color: #40407A;}
header a:visited{text-decoration: none;display: block;color: #f5f5f5;}
header a:hover{text-decoration: none;display: block;color: #FFF;}


h1 {
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}

h2 {
    font-size: 200%;
}

nav {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    float: left; /*it will move dynamically to the left*/
    width:160px
}

nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    border: #CCCCCC;
    border-width: 3px;
    padding: 1em;
    margin-bottom: 1em;
}

nav ul{
    list-style-type: none;
    padding: 0em;
}

nav a:link{color: #3F2860;}
nav a:visited{color: #497777}
nav a:hover{color: #A26100; border: 3px inset #333333}

dt {
    font-weight: bold;
}

footer {
    background-color: #88CBC4;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}



/* Class */
.studio {
    color: #40407A;
    font-style: italic;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

#hero {
    text-align: center;
}

main {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    margin-left: 170px;
    background-color: #f5f5f5;
}

/*Highly recommend holding on to */
.floatleft {
    float: left;
    margin-right: 4em;
    margin-bottom: 1em;
}

.onehalf {
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

.onethird {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

#clear {
    clear: both;
}
/* global property*/
* {box-sizing: border-box;}
